<hr>
<div class="container-fluid mb-2 bg-secondary">
  <div class="row justify-content-center col-10 pt-md-5 pt-2 ml-md-5">
    <div class="input-group input-group-sm mb-2 col-12 col-md-3">
      <div class="input-group-prepend">
        <div class="input-group-text bg-success border-success" style="
                  padding-right: 14px;
              ">
          <i class="fa fa-calendar-check-o text-light"></i>
        </div>
      </div>
      <input type="text" class="form-control form-control-sm" placeholder="Entrada" bsDatepicker>
    </div>
    <div class="input-group input-group-sm mb-2 col-12 col-md-3">
      <div class="input-group-prepend">
        <div class="input-group-text bg-secondary" style="
                  padding-right: 14px;
              ">
          <i class="fa fa-calendar-minus-o text-light"></i>
        </div>
      </div>
      <input type="text" class="form-control form-control-sm" placeholder="Saída" bsDatepicker="">
    </div>
    <div class="input-group input-group-sm mb-2 col-12 col-md-2">
      <div class="input-group-prepend">
        <div class="input-group-text" style="
                  padding-right: 14px;
              ">
          <i class="fa fa-road"></i>
        </div>
      </div>
      <select class="form-control form-control-sm">
        <option i18n="adultos">Adultos</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="input-group input-group-sm mb-3 col-12 col-md-2">
      <div class="input-group-prepend">
        <div class="input-group-text" style="
                  padding-right: 14px;
              ">
          <i class="fa fa-road"></i>
        </div>
      </div>
      <select class="form-control form-control-sm">
        <option i18n="crianças">Crianças</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-primary" i18n="buscar">BUSCAR</button>
    </div>
  </div>
</div>
