<app-busca-disponibilidade></app-busca-disponibilidade>
<div class="" style="height: auto">
  <div class="">
    <div class="container pt-5">
      <div class="row justify-content-center col-12">
        <app-lista-uh ngClass="col-12 col-md-8 text-light"></app-lista-uh>
        <app-calculadora-reserva ngClass="col-md-4"></app-calculadora-reserva>
        <!--<app-card-disponibilidade ngClass="col-12 pull-left col-md-4"></app-card-disponibilidade> -->
      </div>
    </div>
  </div>
</div>
