<div class="bg-light text-muted">
  <div class="row col-12 justify-content-between">
    <div class="col-md-3 offset-2 p-5">
      Casas Brancas Boutique Hotel & Spa - CNPJ: 04.080.133/0001-76
      Rua Alto do Humaitá, 10, Armação dos Buzios, Centro, RJ - 28.950-000 | Brasil
      (22) 2623-1458  (22) 2623-2147    mic.oliveira6@gmail.com
    </div>
    <div class="col-md-7">

    </div>
  </div>
</div>
<div class="bg-light text-muted font-weight-bold">
  <div class="row col-md-12 justify-content-center">
    POWERED BY
  </div>
  <div class="row col-md-12 justify-content-center" style="height: 35px;">
   <a href="https://www.ibooking.com.br/"><img height="25" src="../../assets/images/ibooking.png"></a>
  </div>
</div>
