<div ngForm="formGroup">
  <div class="card pt-2">
    <div class="card-header">

    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="card-subtitle text-muted">
          AP1
        </div>
        <hr>
        <div class="card-text">
          TESTE
        </div>
      </div>
    </div>
    <div class="card-footer">
      TOTAL {{ 1520 | currency: 'BRL' }}
    </div>
  </div>
</div>
<div class="row justify-content-center col-md-12">
  <button routerLink="/finalizar" class="btn btn-primary">RESERVAR</button>
</div>
<div *ngFor="let apartamento of apartamentos">
  {{ apartamento.descricao }}
</div>

