<div ngForm="formGroup">
  <div class="card" style="border-radius: 25px;">
    <div class="card-body">
      <div class="card-title h3">
        <span class="row justify-content-center"><img src="../../assets/images/logo-box-apoio-slider.png"></span>
      </div>
      <div class="card-text">
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                   padding-left: 15px;
                   padding-right: 15px;
              ">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input required class="form-control" type="text" placeholder="Data de Entrada" bsDatepicker>
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                  padding-right: 14px;
              ">
                <i class="fa fa-send"></i>
              </div>
            </div>
            <input class="form-control" type="text" placeholder="Data de Saída" bsDatepicker>
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                  padding-right: 14px;
              ">
                <i class="fa fa-road"></i>
              </div>
            </div>
            <select class="form-control">
              <option>QUARTOS</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <button i18n="" class="btn btn-primary" routerLink="disponibilidade">VERIFICAR DISPONIBILIDADE</button>
        </div>
      </div>
    </div>
  </div>
</div>
