<div ngForm="formGroup">
  <div class="card" style="border-radius: 25px;">
    <div class="card-body">
      <div class="card-title h3">
        <span class="row justify-content-center"><img src="../../assets/images/logo-box-apoio-slider.png"></span>
        <p i18n="" class="row justify-content-center h6 text-secondary"> FAÇA JÁ SUA RESERVA</p>
      </div>
      <div class="card-text">
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                   padding-left: 15px;
                   padding-right: 15px;
              ">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input required class="form-control" type="text" placeholder="Nome">

          </div>
        </div>
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                  padding-right: 14px;
              ">
                <i class="fa fa-send"></i>
              </div>
            </div>
            <input class="form-control" type="text" placeholder="Email">
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                  padding-left: 16px;
                  padding-right: 13px;
              ">
                <i class="fa fa-phone"></i>
              </div>
            </div>
            <input class="form-control" type="text" placeholder="Telefone">
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                  padding-left: 13px;
                  padding-right: 13px;
              ">
                <i class="fa fa-flag"></i>
              </div>
            </div>
            <select class="form-control">
              <option>PAÍS</option>
              <option>NEVERLAND</option>
              <option>NARNIA</option>
              <option>TERRA MÉDIA</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="
                  padding-left: 15px;
                  padding-right: 14px;
              ">
                <i class="fa fa-language"></i>
              </div>
            </div>
            <select class="form-control">
              <option>IDIOMA</option>
              <option>MARMOTÊS</option>
              <option>MARMOTARIM</option>
              <option>MARMOCÊS</option>
              <option>MARMOGLES</option>
            </select>
          </div>

        </div>
        <div class="row justify-content-start pl-4 ml-2">
          <div class="input-group">
            <input id="check" type="checkbox" class="form-check-input">
            <label for="check" class="form-check-label text-muted">NEWSLETTER</label>
          </div>
        </div>
        <div class="row justify-content-center m-2">
          <button i18n="" class="btn btn-primary" routerLink="disponibilidade">VERIFICAR DISPONIBILIDADE</button>
        </div>
      </div>
    </div>
  </div>
</div>
