.stepper-container{
  position: relative;
  padding-right: 3.5rem;
  width: 100%;
  overflow: hidden;
}
.stepper-header{
  width: 115%;
}
.stepper-tittle{
  text-align: center;
}

.stepper-subtittle{
  text-align: justify;
}

.stepper-displyer{
  width: 120%;
  margin-left: -5%;
}
@media screen and (max-width: 600px) {
  .stepper-displyer{
    width: 126%;
    margin-left: -5%;
  }
}
.stepper-display{
  text-align: center;
  line-height: 2.5rem;
  display: inline-block;
  width: 33%;
  height: 2.5rem;
}
.stepper-body{
  position: relative;
  padding: 0%;
}
.stepper-content{
  overflow: hidden;
  text-align: justify;
  padding-left: 3%;
}
.stepper-footer{
  padding-left: 5%;
}
