<div class="col-md-4 bg-info">
  <span class="col-md-4">Passo 1</span>
  <span class="col-md-4">Passo 2</span>
  <span class="col-md-4">Passo 3</span>
  <div class="p-1 col-md-12 bg-light">
    Mussum Ipsum, cacilds vidis litro abertis.
    Per aumento de cachacis, eu reclamis. Vehicula non.
    Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.
    Manduma pindureta quium dia nois paga. Aenean aliquam molestie leo, vitae iaculis nisl.

    Casamentiss faiz malandris se pirulitá.
    Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.
    Sed non consequat odio. Detraxit consequat et quo num tendi nada.
    Leite de capivaris, leite de mula manquis sem cabeça.
  </div>
</div>
<!-- Não APAGAR
<div class="col-md-12 bg-info">
<div class="stepper-container bg-white">
  <div class="stepper-header">
    <div class="stepper-tittle h5 text-muted">TITULO</div>
    <div class="stepper-subtittle">dsadas</div>
  </div>
  <div class="stepper-displyer">
    <div class="stepper-display text-light bg-secondary" [ngClass]="{'bg-warning': step1}">
      passo 1
    </div>
    <div class="stepper-display bg-secondary text-light" [ngClass]="{'bg-warning': step2}">
      passo 2
    </div>
    <div class="stepper-display bg-secondary text-light" [ngClass]="{'bg-warning': step3}">
      passo 3
    </div>
  </div>
  <div class="stepper-body">
    <div class="stepper-content">
      <router-outlet>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</router-outlet>
    </div>
  </div>
  <div class="stepper-footer row col-md-3">
    <button class="btn btn-warning" (click)="anteriorPasso()" *ngIf="passo > 1" >retornar</button>
    <button class="btn btn-primary" (click)="proximoPasso()" *ngIf="passo <= 2">proximo</button>
  </div>
</div>
</div>-->
