<div class="-sm-background">
  <div class="-sm-filter">
    <div class="container pt-5">
      <div class="row justify-content-center col-12">
        <app-caixa-texto ngClass="col-12 col-md-7 order-md-12 text-light"></app-caixa-texto>
        <app-card-reserva ngClass="col-12 pull-left col-md-5"></app-card-reserva>
      </div>
    </div>
  </div>
</div>
