<div class="card mt-1 mb-2 text-muted" style="border-radius: 5px;">
  <div class="card-body">
    <div class="card-title">
      <div class="row col-md-12 justify-content-between">
        <!-- Thumbnail apartamento e galeria modal -->
        <div class="col-md-3">
          <a href="#" class="card-link" (click)="$event.preventDefault(); abrirMarmota()">
            <img class="img-thumbnail rounded" style="width: 100px; height: 100px" [src]="imagem">
          </a>
          <!-- GALERIA -->
          <ngx-image-gallery [images]="images" [conf]="conf"></ngx-image-gallery>
        </div>
        <div class="col-md-6">
          <p i18n="" class="mt-3 h5 ml-1 text-secondary"> {{ apartamento.descricao }}</p>
        </div>
        <div class="col-3">
          <span class="row h6 col-md-12"> DIÁRIAS A PARTIR DE</span>
          <span class="row col-md-12 h6 text-info"> {{ apartamento.categorias[0].diaria | currency: 'BRL'}}</span>
        </div>
      </div>
    </div>
    <div class="card-text">
      <hr>
      <div class="">
        <div class="card-title">
          <a href="" (click)="$event.preventDefault(); click($event)" class="card-link">
            <span class="card-text mr-2">DESCRIÇÃO</span>
            <i *ngIf="!exibirDescricao" class="fa fa-plus"></i>
            <i *ngIf="exibirDescricao" class="fa fa-minus"></i>
          </a>
        </div>
        <div *ngIf="exibirDescricao" class="card-text small">
          {{ 1200 }}
        </div>
      </div>
      <hr>
      <div class="row justify-content-center col-md-12 small">
        <div>
          <i class="text-primary fa fa-snowflake-o m-2"></i>Ar-condicionado
        </div>
        <div>
          <i class="text-success fa fa-coffee m-2"></i>Café da manhã
        </div>
        <div>
          <i class="text-primary fa fa-wifi m-2"></i>WIFI
        </div>
        <div>
          <i class="text-warning fa fa-key m-2"></i>Cofre
        </div>
        <div>
          <i class="text-info fa fa-life-ring m-2"></i>Serviço de quarto
        </div>
        <div >
          <i class="text-dark fa fa-car m-2"></i>Estacionamento
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped text-muted">
          <thead class="bg-secondary text-light text-center small">
            <tr>
              <!-- <th>QUARTO</th> -->
              <th>TARIFAS</th>
              <th>POLITICAS</th>
              <th>DIÁRIA MÉDIA</th>
              <th>OCU</th>
              <th>TOTAL</th>
              <th> </th>
            </tr>
          </thead>
          <tbody class="small">
            <tr *ngFor="let categoria of apartamento.categorias">
              <!--<td><input type="checkbox" name="categoria"></td> -->
              <td>{{ categoria.descricao }}</td>
              <td>POLÍTICA TESTE</td>
              <td>{{ categoria.diaria | currency: 'BRL'}}</td>
              <td>1</td>
              <td>{{ categoria.diaria * 2 | currency: 'BRL'}}</td>
              <td><button class="btn btn-sm btn-primary" (click)="adicionarProduto(apartamento)">Incluir</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
