/* You can add global styles to this file, and also import other style files */
/*@import "~font-awesome/css/font-awesome.min.css"; */
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

@media screen and (max-width:600px){
  .sm-invisible{
    display: none;
  }
  .-sm-background{
    background-image: url('assets/images/background1.jpg') !important;
    background-repeat: no-repeat; background-position: center;
    background-size: cover;
    height: 1000px;
  }
  .-sm-filter{
    background: rgba(0,0,0,0.5);
    height: 1000px;
  }
}
@media screen and (min-width:601px) {
  .-sm-background {
    background-image: url('assets/images/background1.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
  }

  .-sm-filter {
    background: rgba(0, 0, 0, 0.6);
    height: 95vh;
  }
}

::-webkit-scrollbar-track{
  background-color: #C9BEB4;
}
::-webkit-scrollbar-thumb{
  background-color: #872108;
}
::-webkit-scrollbar{
  scrollbar-track-color: #C9BEB4 ;
  background-color: deepskyblue;
  width: 7px;
}

